  <popup #popupdelete (confirmClick)="VerwijderenBoek()">
    Bent u zeker dat u het boek wilt verwijderen?
  </popup>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <h2>{{book.titel | uppercase}} </h2>
      </div>
    </div>

      <div class="row">
    <div class="col-md-6">
      <div><strong>Isbn: </strong> {{book.isbn}}</div>
      <div><strong>Uitgegeven: </strong> {{book.uitgegeven}}</div>
       <strong>Tags: </strong>
      <div *ngFor="let tag of book.tags" class="badge">
            <span aria-hidden="true" class="glyphicon glyphicon-tag"></span>&nbsp;{{ tag | uppercase }}
      </div>
    </div>
    <div class="col-md-6">
      <div><strong>Auteur: </strong>{{book.auteur.naam}}</div>
      <div><strong>Genre: </strong>{{book.genre.naam}}</div>
    </div>
  </div>
  <hr>
  <div class="col-md-3">
    <span>
       <img class="img-rounded" height="250px" src="{{ book.cover }}"/>
    </span>
    <span>
      <star-rating-comp [staticColor]="'positive'" [starType]="'svg'" [rating]="book.sterren"></star-rating-comp>
    </span>
  </div>
  <div class="col-md-3">
    <button class="btn btn-danger" (click)="PopupVerwijderenBoek()">Verwijder boek</button>
  </div>

 <button class="btn btn-success" [routerLink]="['/edit', book.isbn]">edit boek</button>
</div>