<div class="container-fluid">
    <h1>Wijzigen van auteur</h1><hr>
    <form #editAuteurForm="ngForm" (ngSubmit)="updateAuteur()" autocomplete="on">
        <div class="form-group" [ngClass]="{'error': editAuteurForm.controls.auteurNaam?.invalid && editAuteurForm.controls.auteurNaam?.touched}">
            <div class="row">
                <div class="col-md-2">
                    <label for="auteurNaam">Nieuwe naam auteur:</label>
                </div>
                <div class="col-md-3">
                    <em *ngIf="editAuteurForm.controls.auteurNaam?.invalid && (editAuteurForm.controls.auteurNaam?.touched)">Required</em>
                    <input [(ngModel)]="auteur.naam" name="auteurNaam" required id="auteurNaam" type="text" class="form-control" placeholder="{{auteur.naam}}" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success" >Wijzig auteur</button>
                        </div>
                        <div class="col-md-6">
                            <button [disabled]="!hasDeleteMethod" class="btn btn-danger"  type="button" (click)="deleteAuteur()">Verwijder auteur</button><br/>
                            <em *ngIf="!hasDeleteMethod">Deze auteur kan niet verwijderd worden...</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>