<h1>Editeer Boek</h1>

<hr>
<div class="col-md-6">
  <form #newBookForm="ngForm" (ngSubmit)="updateBoek()" autocomplete="off" novaliauthor>

    <div class="form-group" [ngClass]="{'error': newBookForm.controls.name?.invalid && newBookForm.controls.name?.touched}">
      <label for="bookTitle">Titel:</label>
        <em *ngIf="newBookForm.controls.name?.invalid && (newBookForm.controls.name?.touched)">Required</em>
          <input (ngModel)="name" name="name" required id="name" type="text" class="form-control" value="" placeholder="{{book.titel}}" />
    </div>

    <div class="form-group" [ngClass]="{'error': newBookForm.controls.author?.invalid && newBookForm.controls.author?.touched}">
        <label for="bookAuthor">Auteur:</label>
         <input (ngModel)="auteur" name="auteur" required id="auteur" type="text" class="form-control" value="{{book.auteur.naam}}" placeholder="{{book.auteur.naam}}" />
            <!--<select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" aria-expanded="true" [(ngModel)]="selectedAuteur">
              <option value="undefined">Selecteer auteur</option>
              <option *ngFor="let auteur of auteurs" [ngValue]="auteur">{{auteur.naam}}</option>
            </select>-->
    </div>

    <div class="form-group" [ngClass]="{'error': newBookForm.controls.isbn?.invalid && newBookForm.controls.isbn?.touched}">
      <label for="bookIsbn">ISBN:</label>
        <em *ngIf="newBookForm.controls.isbn?.invalid && (newBookForm.controls.isbn?.touched)">Required</em>
          <input (ngModel)="isbn" name="isbn" required id="bookIsbn" type="text" class="form-control" placeholder=" {{book.isbn}}" value="{{book.isbn}}" />
    </div>

    <div class="form-group" [ngClass]="{'error': newBookForm.controls.genre?.invalid && newBookForm.controls.genre?.touched}">
      <label for="bookgenre">Genre:</label>
       <input (ngModel)="genre" name="genre" required id="genre" type="text" class="form-control" placeholder=" {{book.genre.naam}}" />
        <!--<select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" aria-expanded="true" [(ngModel)]="selectedGenre">
           <option value="undefined">Selecteer genre</option>
           <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.naam}}</option>
        </select>-->
    </div>

     <div class="form-group" [ngClass]="{'error': newBookForm.controls.tags?.invalid && newBookForm.controls.tags?.touched}">
      <label for="bookTags">Tags:</label>
        <em *ngIf="newBookForm.controls.tags?.invalid && (newBookForm.controls.tags?.touched)">Required</em>
          <input (ngModel)="tags" name="tags" required id="bookTags" type="text" class="form-control" placeholder="{{book.tags}}" />
    </div>

    <div class="form-group">
      <label for="uitgegeven">Uitgegeven:</label>
        <input  type="text" class="form-control" name="uitgegeven" type="number" placeholder="{{book.uitgegeven}}" />
    </div>
    
    <div class="form-group" [ngClass]="{'error': newBookForm.controls.imageUrl?.invalid && newBookForm.controls.imageUrl?.touched}">
      <label for="imageUrl">Cover:</label>
        <em *ngIf="newBookForm.controls.imageUrl?.invalid && newBookForm.controls.imageUrl?.touched && newBookForm.controls.imageUrl?.errors.required">Required</em>
        <em *ngIf="newBookForm.controls.imageUrl?.invalid && newBookForm.controls.imageUrl?.touched  && newBookForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
          <input (ngModel)="imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="{{book.cover}}"/>
            <img [src]="newBookForm.controls.imageUrl.value" *ngIf="newBookForm.controls.imageUrl?.valid"/>
    </div>
    
    <button type="submit" class="btn btn-primary" >Save</button>
    <button type="button" [disabled]="newBookForm.invalid" class="btn btn-default" (click)="cancel()" [routerLink]="['/details', book.isbn]">Cancel</button>
  </form>
</div>