<popup #popupAddAuteur (confirmClick)="addAuteur(newAuteurForm.value)">
  <form #newAuteurForm="ngForm" (ngSubmit)="addAuteur(newAuteurForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': newAuteurForm.controls.naam?.touched && newAuteurForm.controls.naam?.touched}">
      <label for="nieuweAuteurNaam">Naam:</label>
      <em *ngIf="nieuweAuteurNaam?.invalid && (nieuweAuteurNaam?.touched)">Required</em>
      <input (ngModel)="auteur.naam" name="naam" required id="naam" class="form-control" type="text" placeholder="Geef een naam in..." />
    </div>
  </form>
</popup>

<popup #popupAddGenre (confirmClick)="addGenre(newGenreForm.value)">
  <form #newGenreForm="ngForm" (ngSubmit)="addGenre(newGenreForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': newGenreForm.controls.naam?.touched && newGenreForm.controls.naam?.touched}">
      <label for="nieuwGenreNaam">Naam:</label>
      <em *ngIf="nieuwGenreNaam?.invalid && (nieuwGenreNaam?.touched)">Required</em>
      <input (ngModel)="genre.naam" name="naam" required id="naam" class="form-control" type="text" placeholder="Geef een naam in" />
    </div>
  </form>
</popup>

<h1>Editeer Boek</h1>
<hr>
<div class="container-fluid">
  <form #editBookForm="ngForm" (ngSubmit)="updateBoek()" autocomplete="off" novaliauthor>

    <div class="row">
      <div class="col-md-9">
        <div class="form-group" [ngClass]="{'error': editBookForm.controls.titel?.invalid && editBookForm.controls.titel?.touched}">
      <label for="bookTitle">Titel:</label>
        <em *ngIf="editBookForm.controls.titel?.invalid && (editBookForm.controls.titel?.touched)">Required</em>
          <input [(ngModel)]="book.titel" name="titel" required id="titel" type="text" class="form-control" value="" placeholder="{{book.titel}}" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="form-group" [ngClass]="{'error': editBookForm.controls.author?.invalid && editBookForm.controls.author?.touched}">
          <label for="bookAuthor">Auteur:</label>
          <div class="row">
            <div class="col-md-9">
              <select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" aria-expanded="true" [(ngModel)]="book.auteur" name="auteurSelector">
                <option value="undefined">Selecteer auteur</option>
                <option *ngFor="let auteur of auteurs" [ngValue]="book.auteur">{{book.auteur.naam}}</option>
              </select>
              </div>
              <div class="col-md-3">
                <button class="btn btn-success" type="button" (click)="popupAuteurToevoegen()">Voeg nieuwe auteur toe</button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="form-group" [ngClass]="{'error': editBookForm.controls.isbn?.invalid && editBookForm.controls.isbn?.touched}">
          <label for="bookIsbn">ISBN:</label>
            <em *ngIf="editBookForm.controls.isbn?.invalid && (editBookForm.controls.isbn?.touched)">Required</em>
              <input [(ngModel)]="book.isbn" name="isbn" required id="bookIsbn" type="text" class="form-control" placeholder="Geef de ISBN nummer" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="form-group" [ngClass]="{'error': editBookForm.controls.genre?.invalid && editBookForm.controls.genre?.touched}">
          <label for="bookgenre">Genre:</label>
          <div class="row">
            <div class="col-md-9">
            <select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" name="genreSelector" aria-expanded="true" [(ngModel)]="book.genre">
              <option value="undefined">Selecteer genre</option>
              <option *ngFor="let genre of genres" [ngValue]="book.genre">{{book.genre.naam}}</option>
            </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" type="button" (click)="popupGenreToevoegen()">Voeg nieuw genre toe</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Tags:</label>
          <div class="row">
            <div class="col-md-4">
              <span *ngFor="let tag of selectedTags" name="deleteTagButton" class="badge selectedTag" (click)="removeTagFromSelected(tag)">
                  <span aria-hidden="true" class="glyphicon glyphicon-tag"></span> &nbsp;{{ tag }}&nbsp;
                <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
              </span>
              <span *ngFor="let tag of availableTags" name="deleteTagButton" class="badge availableTag" (click)="addTagToSelected(tag)">
                <span aria-hidden="true" class="glyphicon glyphicon-tag"></span>&nbsp;{{ tag }}&nbsp;
              </span>
              </div>
          </div>
          <div class="row next-row">
            <div class="col-md-4">
              <input [(ngModel)]="newTagModel" #newTag name="newTagInput" type="text" class="form-control" placeholder="Voeg een nieuwe tag toe..."
              />
            </div>
            <div class="col-md-1">
              <button class="btn btn-success" type="button" (click)="addNewTag(newTag.value)"><i class="glyphicon glyphicon-ok"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group" [ngClass]="{'error': editBookForm.controls.imageUrl?.invalid && editBookForm.controls.imageUrl?.touched}">
          <label for="imageUrl">Cover:</label>
          <em *ngIf="editBookForm.controls.imageUrl?.invalid && editBookForm.controls.imageUrl?.touched && editBookForm.controls.imageUrl?.errors.required">Required</em>
          <em *ngIf="editBookForm.controls.imageUrl?.invalid && editBookForm.controls.imageUrl?.touched  && editBookForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
          <input [(ngModel)]="book.cover" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control"
            placeholder="url of image..." />
          <img [src]="editBookForm.controls.imageUrl.value" *ngIf="editBookForm.controls.imageUrl?.valid" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="uitgegeven">Uitgegeven:</label>
          <input [(ngModel)]="book.uitgegeven" type="text" class="form-control" name="uitgegeven" type="number" placeholder="Geef uitgave jaar"
          />
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="starSelector">Star rating:</label>
          <select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" name="starSelector" aria-expanded="true"
            [(ngModel)]="book.sterren">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        </div>
      </div>
    </div>
    
    <button type="submit" [disabled]="editBookForm.invalid"  class="btn btn-primary" >Save</button>
    <button type="button" class="btn btn-default" (click)="cancel()" [routerLink]="['/details', book.isbn]">Cancel</button>
  </form>
</div>