<div class="container" *ngFor="let book of books">
  <div class="col-md-10">
    <app-collapsible-well>
      <div well-title>
        "{{ book.titel }}" by {{ book.auteur.naam }}
      </div>
      <div well-body>
        <span>
          <img class="img-rounded" height="250px" src="{{ book.cover }}"/>
        </span><br />
        <span>
          Genre: {{ book.genre.naam }}<br /><br />Tags:
            <div *ngFor="let tag of book.tags" class="badge">
              <span>
                <span aria-hidden="true" class="glyphicon glyphicon-tag"></span>
                <div>{{ tag | uppercase }}</div>
              </span>
            </div>
        </span>
      </div>
    </app-collapsible-well>
  </div>
</div>
