<div class="container">
  <h2>Al onze boeken</h2>
  <div class="list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Boek 1</h4>
      <p class="list-group-item-text">Details boek 1</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Boek 2</h4>
      <p class="list-group-item-text">Details boek 2</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Boek 3</h4>
      <p class="list-group-item-text">Details boek 3</p>
    </a>
  </div>
</div>

