<div class="col-md-12">
    <div class="col-md-4">Auteur:
        <select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" aria-expanded="true" [(ngModel)]="selectedAuteur">
            <option value="undefined">--please select--</option>
            <option *ngFor="let auteur of auteurs" [ngValue]="auteur">{{auteur.naam}}</option>
        </select>
    </div>
    <div class="col-md-4">Genre:
        <select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" aria-expanded="true" [(ngModel)]="selectedGenre">
            <option value="undefined">--please select--</option>
            <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.naam}}</option>
        </select>
    </div>
    <div class="col-md-4">Titel:
        <select class="btn btn-default dropdown-toggle form-control" aria-haspopup="true" aria-expanded="true" [(ngModel)]="selectedTitel">
            <option value="undefined">--please select--</option>
            <option *ngFor="let book of allBooks" [ngValue]="book">{{book.titel}}</option>
        </select>
    </div>
    <div class="col-md-3">
        <button class="btn btn-success" (click)="filter()">Filter</button>
    </div>
</div>
<hr>
<!--Onderstaande button is de final filter... tenzij er een responsive filter kan gebruikt worden-->



<hr>
<div class="btn-group btn-group-sm" style="margin: 0px 20px;">
    <button class="btn btn-default" [class.active]="sortBy==='titel'" (click)="sort('titel')">
              Op titel&nbsp;<span *ngIf="sortBy==='titel'" class="glyphicon glyphicon-chevron-{{sortMethod}}"></span>
          </button>
    <button class="btn btn-default" [class.active]="sortBy==='auteur'" (click)="sort('auteur')">Op auteur <span *ngIf="sortBy==='auteur'" class="glyphicon glyphicon-chevron-{{sortMethod}}"></span></button>
</div>
<hr>
<app-overview-list [books]="books"></app-overview-list>